.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../public/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

